body{
    margin: 0px;
    background-image:linear-gradient(to right,#F9F9FB, #F3F2F8);
    color: rgb(104, 120, 102);
}

.flex-container{
    display:flex;
    justify-content:space-between;
    width: 900px;
    margin: auto;
    flex-wrap: wrap;
    margin: 5% auto;
}

.headline{
    width: 100%;
    padding-top: 5%;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    font-family: 'Yeseva One', serif;
}

.headline2{
    width: 100%;
    padding-top: 1%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    font-family: 'Yeseva One', serif;
}

.word{
    padding-top: 2%;
    width: 100%;
    font-size:xx-large;
    font-weight: 500;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    
}



#p5-canvas{
    text-align: center;
}

canvas{
    width: 100% !important;
    height: 100% !important;
}

.box-1{    
    width: 100%;
    height: 100PX;
    background-color: rgba(255, 105, 180, 0.326);
    margin-bottom: 100px;
}

.box-2{
    width: 450px;
    height: 450px;
    background-color: rgb(245, 227, 125); 
}

#menu-overlay{
    position: fixed;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: block；
}

#menu-overlay ul {  
    position: relative;
}

#menu-overlay ul li{
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
    }

#menu-overlay ul li a{
    position: relative;
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    color: rgb(207, 130, 175);
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

#menu-overlay ul li a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 8px;
    background: rgb(164, 244, 255);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before{
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}

